::-webkit-scrollbar{
    display: none;
    }
*{
    cursor: default;
    font-family: "Palatino Linotype";
    font-size: 0;
    margin: 0px;
    }
input{
    background-color: #333;
    border-color: #000;
    border-radius: 15px;
    border-width: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: bold;
    height: 100%;
    letter-spacing: 3px;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    }
show{
    border: 0 solid rgba(0,0,0,0);
    border-width: 0 25px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 28px;
    font-variant: small-caps;
    height: 1px;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    }
show:hover{
    color: #FFAFAF;
    }
.active{
    background-color: #777;
    color: #000;
    }
.perm{
    color: #4682B4;
    }
.perm:hover{
    color: #AFAFFF;
    }
.randomLinks{
    cursor: pointer;
    font-size: 24px;
    margin: auto;
    white-space: pre;
    width: auto;
    }
.randomLinks:hover{
    color: #FFAFAF;
    }
show.hide{
    display: none;
    }
#Buttons{
    background-color: #000;
    bottom: 0px;
    display: block;
    margin: 0px auto;
    position: fixed;
    text-align: center;
    width: 100%;
    }
#Shows{
    cursor: default;
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    padding: 0px;
    width: 100%;
    }