::-webkit-scrollbar {
  display: none;
  }

* {
  background-color: #000;
  border-color: #777;
  color: #FFF;
  }

body {
  margin: 0;
  }

#buttons {
  font-size: 0;
  height: 30px;
  left: 0;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  }

#buttons input {
  background-color: #666;
  border-color: #333;
  margin: 0 10px;
  text-align: center;
  width: calc(100% / 6 - 20px);
  }

table {
  counter-reset: mycounter;
  padding-top: 50px;
  width: 100%;
  }

tr {
  height: 30px;
  width: 100vw;
  }

tr:before {
  content: counter(mycounter, decimal);
  counter-increment: mycounter;
  display: block;
  line-height: 28px;
  padding: 0px 5px;
  text-align: right;
  width: 30px;
  }

th {
  text-align: center;
  white-space: pre;
  }

td {
  text-align: center;
  }

input {
  border-radius: 5px;
  border-style: solid;
  font-family: 'Courier New';
  height: 28px;
  padding: 2px 5px;
  text-align: left;
  width: 100%;
  }

.level , .season , .episode {
  text-align: center;
  width: 50px;
  }

.title {
  width: 300px;
  }