::-webkit-scrollbar {
  display: none;
  }
* {
  cursor: default;
  font-family: "Palatino Linotype";
  font-size: 0;
  margin: 0px;
  }
body {
  background-color: #000000;
  }

#alert {
  background-color: #000;
  bottom: 0;
  display: none;
  flex-flow: column nowrap;
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  }
#alert * {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  flex: 0 1 auto;
  text-align: center;
  text-decoration: none;
  margin: auto;
  }
#alert *:hover {
  color: #bf7fbf;
  }
#alert .title {
  font-size: 32px;
  }
#alert .link {
  font-size: 24px;
  }
#alert input {
  background-color: #333333;
  border-radius: 5px;
  border: 2px solid #999999;
  font-size: 32px;
  justify-content: center;
  margin: auto;
  padding: 5px 10%;
  text-align: center;
  }
#alert input:hover {
  color: #bf7fbf;
  }

#shows {
  column-fill: auto;
  cursor: default;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  overflow: scroll;
  padding: 0px;
  width: 100%;
  }
#shows * {
  background-color: #000000;
  border: 0 solid rgba(0,0,0,0);
  border-width: 0 25px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 28px;
  font-variant: small-caps;
  height: 1px;
  letter-spacing: 2px;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  }
#shows *:hover {
  color: #FFAFAF;
  }
#shows .perm {
  color: #4682B4;
  }
#shows .perm:hover {
  color: #AFAFFF;
  }
#shows input.hide {
  display: none;
  }

#buttons {
  background-color: #000;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  margin: 0px auto;
  position: fixed;
  text-align: center;
  width: 100%;
  }
#buttons * {
  background-color: #333;
  border-color: #000;
  border-radius: 15px;
  border-width: 5px;
  color: #FFF;
  cursor: pointer;
  flex: 1 1 0;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  height: 100%;
  letter-spacing: 3px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  }
#buttons *.active {
  background-color: #777;
  color: #000;
  }
/**/