::-webkit-scrollbar {
  display: none;
  }
* {
  cursor: default;
  font-family: "Palatino Linotype";
  font-size: inherit;
  margin: 0px;
  }
script {
  display: none !important;
  }
body {
  background-color: #000000;
  bottom: 0;
  display: flex;
  font-size: 0px;
  flex-flow: column nowrap;
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  }

body * {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  flex: 0 1 auto;
  text-align: center;
  text-decoration: none;
  margin: auto;
  }
body *:hover {
  color: #bf7fbf;
  }

.title {
  font-size: 32px;
  }

.number {
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  margin: 0 25px;
  }
.number label {
  margin-right: 5px;
  }
.number input {
  background: #3f3f3f;
  border: solid 1px #efefef;
  border-radius: 5px;
  color: #ffffff;
  height: 38px;
  padding: 2px 5px;
  text-align: center;
  width: 100px;
  }

.link {
  font-size: 24px;
  width: 100%;
  text-align: center;
  }
.link * {
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
  }
.link a {
  background: #444;
  border: 2px solid #555;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  width: 200px;
  }
.link input {
  background: #222;
  border: 2px solid #333;
  color: white;
  margin-left: 5px;
  margin-right: 10px;
  width: calc( 100vw - 250px );
  }